body{
    background-color: black
}
.jumbotron{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
button{
    color: black
    border: none;
    text-align: center;
}

.direita{
    text-align: right;
}